# version: '3.9'

services:
  db:
    image: postgres:15-alpine
    platform: linux/amd64
    container_name: db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ../Plateforme-Fullstack-d-Orchestration-IA-frontend/frontend
      dockerfile: Dockerfile
    container_name: front
    ports:
      - "3000:3000"
    environment:
    - NEXT_PUBLIC_API_URL=http://backend:8000
    # env_file:
    # - ../Plateforme-Fullstack-d-Orchestration-IA-frontend/frontend/.env.local
    depends_on:
      - backend
    command: npm run dev

volumes:
  postgres_data: 
